---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import GeethaBalakrishnan from "../../assets/images/core_team/GeethaBalakrishnan.webp";
import HarriHarding from "../../assets/images/core_team/HarriHarding.webp";
import HayleyChan from "../../assets/images/core_team/HayleyChan.webp";
import KateRichards from "../../assets/images/core_team/KateRichards.webp";
import SarahHomeh from "../../assets/images/core_team/SarahHomeh.webp";
---

<Layout>
    <h2 class="max-w-screen text-4xl p-4 text-center uppercase">Core Team</h2>
    <div
        class="max-w-screen flex flex-row items-center justify-center p-8 gap-10 overflow-hidden flex-wrap"
    >
        <div class="flex flex-col items-center gap-1">
            <div
                class="lg:w-96 lg:h-64 w-66 h-44 flex flex-col rounded-full items-center justify-center overflow-hidden"
            >
                <Image
                    src={GeethaBalakrishnan}
                    alt="Geetha Balakrishnan"
                    class="w-full h-full object-cover grayscale hover:filter-none"
                    loading="eager"
                    
                />
            </div>
            <p class="text-center sm:text-base md:text-lg lg:text-xl">
                Geetha Balakrishnan
            </p>
        </div>

        <div class="flex flex-col items-center gap-1">
            <div
                class="lg:w-96 lg:h-64 w-66 h-44 rounded-full flex items-center justify-center overflow-hidden"
            >
                <Image
                    src={HarriHarding}
                    alt="Harri Harding"
                    class="w-full h-full object-cover grayscale hover:filter-none"
                    loading="eager"
                />
            </div>
            <p class="text-center sm:text-base md:text-lg lg:text-xl">
                Harri Harding
            </p>
        </div>

        <div class="flex flex-col items-center gap-1">
            <div
                class="lg:w-96 lg:h-64 w-66 h-44 rounded-full flex items-center justify-center overflow-hidden"
            >
                <Image
                    src={HayleyChan}
                    alt="Haley Chan"
                    class="w-full h-full object-cover grayscale hover:filter-none"
                    loading="eager"
                />
            </div>
            <p class="text-center sm:text-base md:text-lg lg:text-xl">
                Hayley Chan
            </p>
        </div>

        <div class="flex flex-col items-center gap-1">
            <div
                class="lg:w-96 lg:h-64 w-66 h-44 rounded-full flex items-center justify-center overflow-hidden"
            >
                <Image
                    src={KateRichards}
                    alt="Kate Richards"
                    class="w-full h-full object-cover grayscale hover:filter-none"
                    loading="eager"
                />
            </div>
            <p class="text-center sm:text-base md:text-lg lg:text-xl">
                Kate Richards
            </p>
        </div>
        <div class="flex flex-col items-center gap-1">
            <div
                class="lg:w-96 lg:h-64 w-66 h-44 rounded-full flex items-center justify-center overflow-hidden"
            >
                <Image
                    src={SarahHomeh}
                    alt="Sarah Homeh"
                    class="w-full h-full object-cover grayscale hover:filter-none"
                    loading="eager"
                />
            </div>
            <p class="text-center sm:text-base md:text-lg lg:text-xl">
                Sarah Homeh
            </p>
        </div>
    </div>
</Layout>
